############################
# MCU + PRINTER
############################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_XXXXXXXX-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 100

############################
# X AXIS (Sensorless)
############################

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40

endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 410

homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0

run_current: 0.8
stealthchop_threshold: 0

diag_pin: ^PC0
driver_SGTHRS: 85

############################
# Y AXIS (Sensorless)
############################

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40

endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 410

homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2

run_current: 0.8
stealthchop_threshold: 0

diag_pin: ^PC1
driver_SGTHRS: 85

############################
# Z AXIS (Dual - eigener Treiber + Extruder Treiber)
############################

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8

endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 450

[stepper_z1]
# EXTRUDER TREIBER ALS Z1
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 8

############################
# TMC Z
############################

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.9
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.9
stealthchop_threshold: 999999

############################
# PROBE (z.B. BLTouch)
############################

[probe]
pin: ^PC14
x_offset: 0
y_offset: 0
z_offset: 0

speed: 5
samples: 3
samples_result: average

############################
# SAFE Z HOMING
############################

[safe_z_home]
home_xy_position: 205,205
speed: 100
z_hop: 10
z_hop_speed: 10

############################
# Z TILT (Dual Z Leveling)
############################

[z_tilt]
z_positions:
    -50, 205
    460, 205

points:
    50, 205
    360, 205

speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01

############################
# BED MESH
############################

[bed_mesh]
speed: 120
horizontal_move_z: 10

mesh_min: 20, 20
mesh_max: 390, 390

probe_count: 7,7
algorithm: bicubic

fade_start: 1
fade_end: 10
fade_target: 0

############################
# HOMING SEQUENCE
############################

[homing_override]
axes: xyz
gcode:
    G28 X Y
    Z_TILT_ADJUST
    G28 Z

############################
# HEATED BED
############################

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4

control: pid
pid_Kp: 70
pid_Ki: 1.5
pid_Kd: 800

min_temp: 0
max_temp: 120

############################
# FAN
############################

[fan]
pin: PC6

############################
# SYSTEM
############################

[display_status]
[pause_resume]
